{% extends "template.html" %} 
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('./static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['blog_name']}} </h1>
                            <span class="subheading">A Blog Liked by the programmers</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
<!-- for loop will be written here -->
                    {% for z in content %}
                     <div class="post-preview">
                        <a href="/sample_post/{{z.slug}}">
                            <h2 class="post-title"> {{z.title}} </h2>
                            <h3 class="post-subtitle">{{z.tag_line}}  </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Admin</a>
                            on {{z.date}}
                        </p>
                    </div>
                   {{z.content[0:200]}}
                    <hr class="my-4" />
               
                {% endfor %} 
                    <!-- Divider-->
                    {% set pagesize=3 %}
                    <!-- Pager-->
                     <div class="d-flex justify-content-between">
                        {% if current_page > 1 %}
                            <a class="btn btn-primary float-left" href="{{ url_for('home', current_page=current_page-1,pagesize=3 )}}">&larr; Previous</a>
                        {% else %}
                            <a class="btn btn-secondary float-left disabled" href="#">&larr; Previous</a>
                        {% endif %}

                        {% if current_page < total_pages %}
                            <a class="btn btn-primary float-right" href="{{ url_for('home', current_page=current_page+1,pagesize=3) }}">Next &rarr;</a>
                        {% else %}
                            <a class="btn btn-secondary float-right disabled" href="#">Next &rarr;</a>
                        {% endif %}
                        <p class="text-center mt-2">Page {{ current_page }} of {{ total_pages }}</p>
                     </div>
                </div>
            </div>
        </div>
         {% endblock %}   
       