<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <form class="frm" action="http://localhost:5000/" method="post" style="display: grid; grid-template-columns: auto auto; width:50%; gap:5px; align-items:center">
        <label for="user_id">User ID</label>
        <input type="text" id="user_id" name="user_id">
        <label for="password">Passwword</label>
        <input type="password" id="password" name="password">
        <input type="submit">
    </form>
</body>
</html>